.Description {
  max-width: 90vw;
}

.arrow-return {
  transform: rotate(180deg);
}

.return-search {
  display: flex;
  font-family: "Poppins";
  align-items: center;
  text-decoration: none;
  font-size: 0.875rem;
}

.how-apply,
.detail-job {
  color: var(--blue-font);
}

.how-apply a,
.detail-job a,
.return-search {
  color: var(--link);
}

.return-search {
  margin-bottom: 1rem;
}

.banner-company {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.banner-company > .wrapper-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  margin-right: 1rem;
}

.how-apply ~ h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.Description > .Tag {
  margin-bottom: 0.5rem;
}

.Description .info-post {
  margin-bottom: 1.5rem;
  width: max-content;
}

.detail-job {
  margin-top: 5rem;
}
