.CardJob {
  display: flex;
  width: 80vw;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 0.3125rem;
  padding: 1rem;
  margin-top: 2rem;
}

.info-company {
  color: var(--blue-font);
  padding-left: 1rem;
  flex: 1;
}

.company-logo {
  border-radius: 0.25rem;
  width: 100%;
  max-height: 9rem;
  object-fit: contain;
}

.company-name {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 0.75rem;
  margin-top: 0;
}

.footer-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.footer-card > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location {
  margin-right: 0.3rem;
}

@media screen and (min-width: 768px) {
  .CardJob {
    width: 60vw;
    max-width: 50rem;
  }

  .wrapper-picture {
    height: auto;
    width: auto;
  }

  .name-job {
    font-size: 1.125rem;
  }

  .footer-card {
    justify-content: flex-end;
  }
}
