.Header {
  position: relative;
  background-image: url(../assets/backgroundImg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  height: 8rem;
  width: 90vw;
}

.Button {
  position: absolute;
  right: 5%;
}

@media screen and (min-width: 768px) {
  .Button {
    right: 17%;
  }
}

@media screen and (min-width: 1750px) {
  .Button {
    left: 50%;
    transform: translateX(17rem);
  }
}
