.SideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15rem;
}

.title-minor {
  font-family: "Poppins", sans-serif;
  color: var(--ligth-font);
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.SideBar .wrapper-checkbox:nth-of-type(1) {
  margin-top: 1rem;
}

.SideBar .Input {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  padding-right: 0;
}

.SideBar .wrapper-input {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .SideBar {
    grid-area: sidebar;
    justify-self: flex-end;
    align-self: flex-start;
  }

  .SideBar .Input {
    width: 20vw;
  }
}
