.App {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.none-job {
  color: var(--blue-font);
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .container-flex {
    flex-direction: row;
    justify-content: space-around;
  }

  .rc-pagination {
    align-self: flex-end;
  }
}
